*.class
*.log

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies

.history
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/*.chm
/*.hhc
/*.hhk
/*.hhp
/*.chw
/docs
